// COLOR VARIABLES

$p-color-text: hsla(0, 0, 5, 1); 
$p-color-light: hsla(0, 0, 90, 1);

$p-color-grey-light-1: #f9f7f6;


$p-color-blue: hsla(208, 96, 22, 1); 
$p-color-blue-light: hsla(207, 95, 38, 1); 
$p-color-blue-light-2: hsla(213, 72, 81, 1); 

$p-color-accent: hsla(39, 95, 38, 1); 
$p-color-accent-light: hsla(10, 44, 55, 1); 

$color-primary: #c69963;
$color-primary-dark: #B28451;
$color-secondary: #101d2c;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Merriweather', serif;
$font-headline: 'Merriweather Sans', sans-serif;
$font-display: 'Merriweather Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px (1200 : 16 = 75)
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1 rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $p-color-text;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    /* grid-template-rows: min-content min-content;     */
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}