.projects-hl {        
    display: grid;
    grid-column: center-start / center-end;
    margin: 9rem 0 5rem 0;
    justify-self: center;
    color: $p-color-text;
    font-size: 3rem;
    font-family: $font-headline;
    font-weight: 400;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.3rem;
        }
}

.projects {
    grid-column: center-start / center-end;
    margin: 0 0 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));     
    grid-gap: 7rem;    
}     

.project {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-row-gap: 3.5rem;

    &__img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        z-index: 1;        
    }    

    &__name {
        grid-row: 1 / 2;
        grid-column: 1 / -1;        
        justify-self: center;
        align-self: end;
        z-index: 3;

        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $p-color-blue;
        color: #fff;
        font-weight: 400;
        transform: translateY(50%);        
    }

    &__description {
        width: 95%;
        grid-column: 1 / -1;
        justify-self: center;
        color: $p-color-text; 
        font-size: 1.6rem;        
                
        &__kursiv {
            font-style: italic;
        }
    }    

    &__btn {
        grid-column: 1 / -1;        
    }
}