.top-right {    
    background-color: $p-color-blue;
    grid-column: col-start 7 / full-end;        
    display: grid;
    align-content: center;
    justify-content: center;    
    grid-row-gap: 4vh;
    color: $p-color-light;
    font-family: $font-display;    

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        padding: 5rem;
        justify-content: start;    
    }
    
    &__headline {
        font-family: $font-display;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    &__text {        
        font-size: 1.8rem;
    }
}